.login {
  margin-top: 100px;
  margin-bottom: 100px;

  padding: 5px;
  margin-left: 500px;
  margin-right: 100px;
}
.form {
  padding: 5px;
}
.login-card {
  width: 50%;
}
.main-heading {
  position: relative;
  right: 230px;
}
